/* Using float */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {

    .column{
        width: 100%;
    }
} */

/* Using float end */

/* Using flex */

/* Extra small devices (phones, 600px and down) */


    /* .column{
        flex: 100%;
    } */
    .row{
        flex-direction: column;
    }


/* Using flex ends */